[alias]
	lg = log --graph --pretty=format:'%C(auto)%h %C(auto)%d %Creset%s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	co = checkout
	ci = commit
	br = branch
	st = status
	df = diff
	lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	last = log -1 HEAD
	undo = reset HEAD~1 --mixed

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = nvim 
	autocrlf = input
	eol = lf
	pager = delta 
[credential]
	helper = cache
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[user]
	name = "Shivam Shandilya"
	email = "shiv.05cs@gmail.com"
	signingkey = "735AA92031BA0EE4"
[gpg]
	program = "/usr/bin/gpg"
[color]
    ui = true
[commit]
  #template = ~/.gitmessage
  gpgsign = true 
[tag]
  gpgsign = true 
[pull]
	rebase = true
[init]
	defaultBranch = main

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[push]
	autoSetupRemote = true
